/* Global Styles */
.hide {
    display: none;
}

html {
    font-family: "Avenir Next Condensed", sans-serif;
    color: #333;
    font-size: 80%;
    line-height: 1.5;
}

h1 {
    margin: 0;
    font-weight: lighter;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: url("../img/background.jpg") no-repeat center center fixed;
    background-size: cover;
}

#loading {
    width: 5em;
    margin: 0 auto;
}

/* Sections */

section {
    padding: 2em;
    margin: 0 1em 1em;
    background: white;
    height: 100%;
    box-shadow: 6px 4px 44px -16px rgba(77,77,77,1);
    border-radius: 5px;
    text-align: center;
}

section h2 {
    text-align: center;
}

form {
    margin: 0 0 3em 0;
    display: flex;
    width: 100%;
}

[type="search"] {
    -webkit-appearance: none;
    height: 2em;
    flex: 11;
    font-size: 2em;
    text-align: center;
    border: 2px solid #e57373;
    margin-right: 0;
    font-family: inherit;
}
[type="search"]:focus {
    outline: none;
    border: none;
    border-bottom: 2px solid #e57373;
    
}

#submit {
    -webkit-appearance: none;
    border: none;
    flex: 1;
    background: #e57373;
}

#submit:hover {
    background: #e52a23;
    cursor: pointer;
}
#submit:focus {
    outline: none;
}
#submit img {
    height: 3em;
}

#images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

#images img {
    margin: 0.7em;
    height: 10em;
    max-width: 25%;
}




/* MOBILE FIRST */

/* Navigation */

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 13vh;
    color: white;
}

nav header {
    margin: 3em 0 0 0;
}

nav ul {
    list-style: none;
    display: flex;
    padding: 0;
    height: 100%;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
}

nav ul a {
    display: flex;
    margin-left: 1em;
    height: 100%;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 80%;
}

nav ul li {
    display: flex;
    padding: 1.5em;
    align-items: center;
    background: #e57373;
    transition: 0.2s;
}



/* Tablets */

@media only screen and (min-width: 700px) {

    .container {
        width: 80vw;
        height: inherit;
        margin: auto;
    }
    .nav-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    nav {
        height: 9vh;
        width: 100%;
        background: rgba(0, 0, 0, 0.5);
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    nav header {
        margin: 0;
    }

    nav ul {
        width: auto;
        justify-content: flex-end;
    }

    nav ul li:nth-child(2) {
        margin-left: 0.5em;
    }

    section {
        margin: 3em;
        display: flex;
        flex-direction: column;
    }
}

/* Desktops */

@media only screen and (min-width: 1300px) {

    body {
        width: 100%;
    }

    .container {
        width: 60vw;
    }

    nav ul li:hover {
        background: #ef5350;
        transition: 0.3s;
    }
}