/* Global Styles */
.hide {
    display: none;
}

html {
    font-family: "Open Sans", sans-serif;
    font-size: 80%;
    line-height: 1.5;
    overflow: hidden;
}

h1 {
    margin: 0;
    font-weight: lighter;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: url("../img/background.jpg") no-repeat center center fixed;
    background-size: cover;
}

/* Sections */

section {
    padding: 2em;
    margin: 0 1em 1em;
    background: white;
    height: 100%;
    box-shadow: 2px 2px 2px 0 #333;
}

section h2 {
    text-align: center;
}

/* MOBILE FIRST */

/* Navigation */

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 13vh;
    color: white;
}

nav header {
    margin: 3em 0 0 0;
}

nav ul {
    list-style: none;
    display: flex;
    padding: 0;
    height: 100%;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
}

nav ul a {
    display: flex;
    margin-left: 1em;
    height: 100%;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 80%;
}

nav ul li {
    display: flex;
    padding: 1.5em;
    align-items: center;
    background: #e57373;
    transition: 0.2s;
}



/* Tablets */

@media only screen and (min-width: 700px) {

    .container {
        width: 80vw;
        height: inherit;
        margin: auto;
    }
    .nav-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    nav {
        height: 9vh;
        width: 100%;
        background: rgba(0, 0, 0, 0.5);
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    nav header {
        margin: 0;
    }

    nav ul {
        width: auto;
        justify-content: flex-end;
    }

    nav ul li:nth-child(2) {
        margin-left: 0.5em;
    }

    section {
        margin: 3em;
    }
}

/* Desktops */

@media only screen and (min-width: 1300px) {

    body {
        width: 100%;
    }

    .container {
        width: 60vw;
    }

    nav ul li:hover {
        background: #ef5350;
        transition: 0.3s;
    }
}