/* Global Styles */


html {
    font-family: "Avenir Next Condensed", sans-serif;
    font-size: 80%;
    color: white;
    line-height: 1.5;
}

.hide-overflow {
    overflow: hidden;
}

h1 {
    margin: 0;
    font-weight: lighter;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: url("../img/background.jpg") no-repeat center center fixed;
    background-size: cover;
}

#overlay {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.5);
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.hide {
    display: none!important;
}

#loading {
    width: 5em;
    margin: 0 auto;
}

/* Sections */

section {
    padding: 2em;
    margin: 0 1em 1em;
    background-color: rgba(0, 0, 0, 0.2);
    height: 100%;
    box-shadow: 6px 4px 44px -16px rgba(77,77,77,1);
    border-radius: 5px;
    text-align: center;
}

section h2 {
    text-align: center;
}

form {
    margin: 0 0 3em 0;
    display: flex;
    width: 100%;
    box-shadow: 6px 4px 44px -16px rgba(77,77,77,1);
}

[type="search"] {
    -webkit-appearance: none;
    background: none;
    color: white;
    height: 2em;
    flex: 1;
    border: none;
    border-bottom: 2px solid #e57373;
    font-size: 2em;
    text-align: center;
    margin-right: 0;
    font-family: inherit;
    transition: 0.3s;

}
[type="search"]:focus {
    outline: none;
    flex: 15;
    border: 2px solid #e57373;
    transition: 0.3s;
}
[type="search"]::-webkit-input-placeholder {
    color: white;
}

#submit {
    -webkit-appearance: none;
    border: none;
    flex: 1;
    background: #e57373;
}


#submit:hover,
#submit:focus,
#submit:active,
nav ul li:hover,
nav ul li:focus {
    background: #e52a23;
    cursor: pointer;
}

#submit img {
    height: 3em;
}

#images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

#images img {
    margin: 0.7em;
    height: 10em;
    max-width: 25%;
}

.gif {
    transition: 0.2s;
}
.gif:hover {
    transform: scale(1.2);
    cursor: pointer;
    transition: 0.2s;
}



/* MOBILE FIRST */

/* Navigation */

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 13vh;
    color: white;
}

nav header {
    margin: 3em 0 0 0;
}

nav ul {
    list-style: none;
    display: flex;
    padding: 0;
    height: 100%;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
}

nav ul a {
    display: flex;
    margin-left: 1em;
    height: 100%;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 80%;
}

nav ul li {
    display: flex;
    padding: 1.5em;
    align-items: center;
    background: #e57373;
    transition: 0.2s;
}



/* Tablets */

@media only screen and (min-width: 700px) {

    .container {
        width: 90vw;
        height: inherit;
        margin: auto;
    }
    .nav-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    nav {
        height: 9vh;
        width: 100%;
        background: rgba(0, 0, 0, 0.5);
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    nav header {
        margin: 0;
    }

    nav ul {
        width: auto;
        justify-content: flex-end;
    }

    nav ul li:nth-child(2) {
        margin-left: 0.5em;
    }

    section {
        margin: 3em;
        display: flex;
        flex-direction: column;
    }
}

/* Desktops */

@media only screen and (min-width: 1300px) {

    body {
        width: 100%;
    }

    .container {
        width: 90vw;
    }

    nav ul li:hover {
        background: #ef5350;
        transition: 0.3s;
    }
}