/*
    WAFS Version 2
    By Tristan Jacobs, 2017
*/


/* VARIABLES
============================================= */

:root {
  --main-bg-color: #34495E;
  --main-font: 20px 'Roboto', sans-serif
}

/* GLOBAL ELEMENTS
============================================= */

body {
  padding: 1em;
  margin: 0;
  background-color: var(--main-bg-color);
  font: var(--main-font);
  color: white;
}

header, h2, h3 {
  text-align: center;
}



/* SEARCH FORM
============================================= */

.search {
  margin-top: 20vh;
}

#search-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#search-form input {
  margin-bottom: 1em;
  transition: 0.2s;
  font: var(--main-font);
}

#search-form input[type="search"] {
  padding: 0.5em;
  background: none;
  border: none;
  border-bottom: 2px solid lightgrey;
  text-align: center;
  font-size: 200%;
  color: white;
}

#search-form input[type="search"]:active,
#search-form input[type="search"]:focus {
  transition: 0.2s;
  outline: none;
  border-color: white;
}

#search-form input[type="submit"] {
  padding: 1em 2em;
  background-color: #03C9A9;
  color: white;
  text-transform: uppercase;
  font-size: 70%;
  border: none;
  border-radius: 5px;
}

#search-form input[type="submit"]:active,
#search-form input[type="submit"]:focus,
#search-form input[type="submit"]:hover
{
  cursor: pointer;
  background-color: #16A085;
  transition: 0.2s;
  outline: none;
  border: none;
  border-radius: 25px;
}

.selectors label:hover {
  cursor: pointer;
}

/* HELPERS
============================================= */

.hidden {
  display: none;
}
