/*
    WAFS Version 2
    By Tristan Jacobs, 2017
*/


/* VARIABLES
============================================= */

:root {
  --main-bg-color: #34495E;
  --main-font: 20px 'Roboto', sans-serif
}

/* GLOBAL ELEMENTS
============================================= */

body {
  padding: 1em;
  margin: 0;
  background-color: var(--main-bg-color);
  font: var(--main-font);
  color: white;
}

header, h2, h3 {
  text-align: center;
}

a {
  color: skyblue;
}

/* SEARCH FORM
============================================= */

.search {
  margin-top: 20vh;
}

#search-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


#search-form input[type="search"] {
  margin-bottom: 1em;
  transition: 0.2s;
  font: var(--main-font);
  padding: 0.5em;
  background: none;
  border: none;
  border-bottom: 2px solid lightgrey;
  text-align: center;
  font-size: 135%;
  color: white;
}

#search-form input[type="search"]:active,
#search-form input[type="search"]:focus {
  cursor: pointer;
  transition: 0.2s;
  outline: none;
  border-color: white;
}

.button {
  cursor: pointer;
  padding: 1em 2em;
  max-width: 9em;
  background-color: #03C9A9;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 70%;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  transition: 0.2s;
}

.button:active,
.button:focus,
.button:hover {
  background-color: #16A085;
  transition: 0.2s;
  outline: none;
  border: none;
  border-radius: 25px;
}

.selectors label:hover {
  cursor: pointer;
}

#results {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.error{
  margin: 2em auto;
}

#img-container img {
  margin-right: 2em;
}

#img-details {
  display: flex;
  flex-direction: column;
}

.details-container {
  display: flex;
  max-width: 70vw;
  margin: 20vh auto 0;
  justify-content: center;
  align-items: center;
}

#back-btn {
  margin-top: 1em;
}

.detail-img {
  max-height: 25em;
}

/* HELPERS
============================================= */

.hidden {
  display: none;
}
