
<% include partials/head.ejs %>

    <main>
      <section class="intro">
        <h1>Welcome to <%= title %></h1>
        <p>Ever wondered where you can find a particular movie or series to stream?
        Look no further!</p>
        <p>With FlixFinder you can search a specific title and see where you can stream it.</p>
      </section>
      <section>
        <form id="search-form">
          <input id="input-search-form" type="text">
          <input id="submit-search-form" type="submit" value="Find it!">
        </form>
      </section>
    </main>

<% include partials/footer.ejs %>
